* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: min(max(1rem, 4vw), 22px);
}

body {
  --text-color: rgb(54, 57, 70);
  --bkg2-color: #fff;
  --bars-menu: rgb(33, 40, 49);
  --bkg-color: rgb(245, 245, 245);
  --link-color: rgb(54, 57, 70);
  --mobile-menu: rgb(240, 240, 240);
  --my-name-color: rgb(0, 0, 0);
  --more-post-button: #fff;
}
body.dark-theme {
  --text-color: #eee;
  --bkg2-color: rgb(33, 40, 49);
  --bars-menu: #fff;
  --bkg-color: rgb(26, 29, 35);
  --my-name-color: rgb(239, 187, 52);
  --link-color: rgb(239, 187, 52);
  --mobile-menu: rgb(38, 39, 39);
  --more-post-button: rgb(26, 29, 35);
}

body {
  background: var(--bkg2-color);
  color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
  body {
    --text-color: #eee;
    --bkg2-color: rgb(33, 40, 49);
    --intro-bkg-color: rgb(33, 40, 49);
    --bars-menu: #fff;
    --bkg-color: rgb(26, 29, 35);
    --link-color: rgb(239, 187, 52);
    --mobile-menu: rgb(38, 39, 39);
    --my-name-color: rgb(239, 187, 52);
    --more-post-button: rgb(26, 29, 35);
  }
  body.light-theme {
    --text-color: rgb(54, 57, 70);
    --bkg2-color: #fff;
    --intro-bkg-color: rgb(236, 240, 241);
    --bars-menu: rgb(33, 40, 49);
    --bkg-color: rgb(245, 245, 245);
    --link-color: rgb(54, 57, 70);
    --mobile-menu: #fff;
    --my-name-color: rgb(0, 0, 0);
    --more-post-button: #fff;
  }
}

.logo {
  font-size: 30px;
  font-weight: bold;
}

.logo a {
  color: var(--text-color) !important;
}

.my-name {
  color: var(--my-name-color);
  font-weight: bold;
}

.circle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--text-color);
  border: none;
  cursor: pointer;
}
.container {
  height: 65px;
  background: var(--bkg-color);
  width: 100%;
  z-index: 10;
}

.page-container {
  display: flex;
  flex-direction: column;
  background: var(--bkg-color);
  align-items: center;
  margin-bottom: auto;
}
.title-width {
  max-width: 700px!important;
}

.md-markup {
  padding: 30px;
  max-width: 700px;
  margin: auto;
  border-radius: 15px;
  flex: 1;
}

.posts {
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-item {
  padding: 25px;
  list-style: none;
  text-align: center;
}

.post-date {
  font-size: 16px;
  opacity: 0.8;
}

.date-post {
  opacity: 0.7;
}
.post-category {
  font-size: 14px;
  opacity: 0.7;

}
.post-links {
  color: var(--text-color);
  color: var(--link-color);
  font-size: min(max(1rem, 4vw), 30px);
}

.post-links:hover {
  text-decoration: underline;
  opacity: 0.7;
}

.md-container {
  max-width: 1000px;
  text-align: left;
}
.navbar {
  background: var(--bkg-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  max-width: 1200px;
  margin: auto;
}

.navbar a {
  text-decoration: none;
  color: var(--link-color);
}

.navbar a:hover {
  opacity: 0.8;
}

.nav-list {
  list-style-type: none;
}

.nav-list .list-item {
  display: inline-block;
  padding: 20px 10px;
}

.menu {
  display: none;
  color: rgb(36, 36, 36);
}

.menu-line {
  width: 20px;
  height: 3px;
  background: var(--bars-menu);
  margin-bottom: 4px;
  cursor: pointer;
}

.intro {
  height: calc(100vh - 60px);
  background-color: var(--bkg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.blog {
  height: 100vh;
  background-color: rgb(233, 233, 233);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bkg2-color);
  flex-direction: column;
}

.contact {
  height: 100vh;
  background-color: var(--bkg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact a {
  color: var(--link-color);
}

.contact a:hover {
  opacity: 0.8;
}

footer {
  width: 100%;
  background-color: var(--bkg2-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}

.main-title {
  padding-top: 70px;
  text-align: center;
  max-width: 900px;
  margin-top: 50px;
  font-size: min(max(1.6rem, 4vw), 60px);
  margin: 30px 20px;
  font-weight: 300;
}

.arrow {
  margin-top: 60px;
  text-align: center;
  font-weight: bold;
}

body {
  background: var(--bkg-color);
}

.toggle-me {
  margin-left: -100px;
}

.btn-connect {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
}

.btn-connect a {
  color: black;
}

.btn-connect a {
  opacity: 0.7;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

footer {
  height: 50px;
  background-color: var(--bkg2-color);
}

.footer-homepage {
  height: 50px;
  background-color: var(--bkg2-color);
}

.contact-me-btn {
  padding: 10px;
  background-color: transparent;
  border: 2px solid var(--text-color);
}

.contact-me-btn a {
  text-decoration: none;
  color: var(--text-color);
}

.link-container {
  font-size: min(max(1rem, 4vw), 30px);
  font-weight: 300;
}

.link-container a {
  color: var(--link-color);
  display: inline-block;
  margin-bottom: 20px;
}

.link-container a:hover {
  opacity: 0.7;
}

.about-page-information {
  padding: 20px;
  max-width: 800px;
  font-size: min(max(1rem, 4vw), 30px);
  font-weight: 300;
  line-height: 45px;
}

.post-column-container {
  margin-top: 80px;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.post-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  height: 300px;
  max-width: 300px;
  background-color: var(--bkg-color);
  margin: 20px;
  margin-bottom: 100px;
  border-radius: 15px;
}



.post-box h3 a {
  color: var(--link-color);
  line-height: 35px;

}

.post-box h3 a:hover {
  opacity: 0.7;
}

.post-box-date {
  opacity: 0.8;
  font-size: 16px;
  line-height: 30px;
}
.post-box-tag {
  opacity: 0.7;

  color: var(--link-color);
  font-size: 12px;
}

.show-more-blogs {
  padding: 15px 20px;
  border-radius: 15px;
  background-color: var(--more-post-button);
  color: var(--text-color);
  border: 1px solid rgb(21, 21, 21);
  cursor: pointer;
}

.show-more-blogs a:hover {
  opacity: 0.7;
}

.show-more-blogs a {
  color: var(--text-color);
}

/* media queries */

@media all and (max-width: 550px) {
  .navbar {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .menu {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .nav-list {
    list-style-type: none;
    width: 100%;
    text-align: center;
    display: none;
    background: var(--bkg-color);

    z-index: 1;
  }
  .nav-list .list-item {
    display: block;
    border-bottom: 1px solid rgb(206, 206, 206);
    border-top: 1px solid rgb(206, 206, 206);

    background-color: var(--mobile-menu);
  }

  .active {
    display: block;
  }
  .logo {
    padding-top: 30px;
    padding: 15px;
  }
  .container {
    height: 50px;
  }
  .about-page-information {
    line-height: 30px !important;
  }
}

@media all and (max-width: 200px) {
  .logo {
    padding-top: 60px;
    margin: auto;
    text-align: center;
  }
  .menu {
    margin: auto;
  }
}


@media all and (max-width: 650px) {

  .post-column-container {
  flex-direction: column;
}
}