{% extends "base.html" %}




{% block content %}
<section class="page-container" id="contact">
    <h1 class="main-title"> Contact Page </h1>

    <div class="link-container"> Drop us a message: <a href="https://docs.google.com/forms/d/e/1FAIpQLSc7VxULvTJFVuL518SRZgbEl3zFIuSLHbuAkcoPBSTZyirxBg/viewform?edit_requested=true"> Contact
            Form</a> </div>



    <div class="link-container"> 
Connect with me on: <a href="https://www.linkedin.com/in/darren-nickerson-96469717b/?originalSubdomain=uk">Linkedin</a> 

</div>  
<div class="link-container"> 
 View my profile: <a href="https://github.com/milcroft"> Github</a>
</div>  
</section>
{% endblock %}