body {
  display: flex;
  justify-content: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
}

button {
  font-family: monospace;
  font-size: 18px;
}

.button1 {
  background-color: cornflowerblue;
  font-size: 18px;
  border-radius: 12px;
  color: white;
  border-style: dashed;
  border-color: brown;
}

.button2 {
  padding: 10px 20px;
  background-color: transparent;
  border: 3px coral solid;
  transition-duration: 0.5;
}
.button2:hover {
  border: red;
  border: 3px coral solid;
  background-color: coral;
  color: whitesmoke;
}

.button3 {
  padding: 10px 20px;
  background-color: crimson;
  border: 3px solid transparent;
  transition-duration: 0.5;
  cursor: not-allowed;
  opacity: 0.5;
  color: whitesmoke;
}

.button4 {
  padding: 10px 20px;
  border: 3px solid transparent;
  background-color: darkseagreen;
  border-radius: 8px;
  box-shadow: 0 6px rgb(125, 125, 125);
  cursor: pointer;
}

.button4:hover {
  background-color: rgb(120, 159, 120);
}

.button4:active {
  background-color: rgb(120, 159, 120);
  box-shadow: 0 2px rgb(125, 125, 125);
  transform: translateY(4px);
}
